@tailwind base;
@tailwind components;
@tailwind utilities;





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E5E5E5;
}

/* //googl Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
  font-family: SportingGrotesqueRegular;
  src: url("../fonts/SportingGrotesque-Regular.otf");

}

@font-face {
  font-family: SportingGrotesqueBold;
  src: url("../fonts/SportingGrotesque-Bold.otf");
}